@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
	*,
	*::before,
	*::after {
		transition-property: color, background-color, border-color;
		transition-duration: 300ms;
		transition-timing-function: ease;
	}

	body {
		@apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
	}
}

::view-transition-group(*) {
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
}
